<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Chatting Chatbots</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body onload="onLoad()">
    <h1>Chatting Chatbots</h1>
    <div>
        <div id="chatbox">
            <p class="botText"><span>Hi! I'm CHATBOT A{{id}}. Kay is my creator.</span></p>
        </div>
        <div id="userInput">
            <!-- <input id="textInput" type="text" name="msg" placeholder="Message">
            <input id="buttonInput" type="submit" value="Send"> -->
        </div>
        <script>
            function getBot1Response(text) {
                $.get("/get_response", { msg: text }).done(function(data) {
                    var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                    $("#chatbox").append(botHtml);
                    document.getElementById('userInput').scrollIntoView({block: 'start', behaviour: 'smooth'}); 

                    setTimeout(function(){ getBot2Response(data) }, 2000);
                });
            }

            function getBot2Response(text) {
                $.get("/get_response", { msg: text }).done(function(data) {
                    var botHtml = '<p class="userText"><span>' + data + '</span></p>';
                    $("#chatbox").append(botHtml);
                    document.getElementById('userInput').scrollIntoView({block: 'start', behaviour: 'smooth'});
                    
                    setTimeout(function(){ getBot1Response(data) }, 2000);
                });
            }

            function onLoad() {
                getBot2Response('Hi')
            }
        </script>
    </div>

</body>
</html>