<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Chatbot</title>
</head>
<body>
    <h1>Super AI</h1>
    <div>
        <div id="chatbox">
            <p class="botText"><span>Hi! I'm CHATBOT A{{id}}.</span></p>
        </div>
        <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Message">
            <input id="buttonInput" type="submit" value="Send">
        </div>
        <script>
            function getBotResponse() {
                var rawText = $("#textInput").val();
                var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behaviour: 'smooth'});
                $.get("/get", { msg: rawText }).done(function(data) {
                    console.log(rawText)
                    var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                    $("#chatbox").append(botHtml);
                    document.getElementById('userInput').scrollIntoView({block: 'start', behaviour: 'smooth'});
                });
            }
            
            $("#textInput").keypress(function(e) {
                $("#textInput").val().length != 0 && e.which == 13 ? getBotResponse() : null
            });
            $("#buttonInput").click(function() {
                $("#textInput").val().length != 0 ? getBotResponse() : null
            });
        </script>
    </div>

</body>
</html>